@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$body-color: #081319;
$font-stack: kanit,
sans-serif;
$primary-color:#00111b;
$secondary-color:#0a272d;
$light-blue: #34A1B9;
$dark-primary: #000b11;

// mixings media queries use case
$mobile:420px;
$screenCollapse:767px;

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin screenCollapse {
    @media (max-width: #{$screenCollapse}) {
        @content;
    }
}

html,
body {
    height: 100%;

    background: $primary-color;
    font-family: $font-stack;
    color: white;


}

// navbar styles
.bg-dark {
    background-color: $dark-primary !important;
    font-weight: 700;

}

// hamburger img 

.bg-dark .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.bg-dark .navbar-toggler.navbar-toggler {
    border-color: $light-blue;
    margin-right: 2rem;
}
.navbar-dark .navbar-brand {
    color: white;

}

/* navlinks anchor tags */
#navlinks {
    margin-right: 2rem;

    a {
        color: white;
        font-weight: 400;
        opacity: 90%;

        &:hover {
            color: $light-blue;
            opacity: 100%;
        }
    }
}

.container {
    background-colo: red;

    /* undertext color -develop and design*/
    .undertext {
        color: #34A1B9;
    }

    .heading {
        font-size: 20px;



    }
}

// buttons contact and see work
.buttons {

    @include mobile {
        display: grid;
    }

    .contactButt {
        background-color: $light-blue;
        width: 150px;
        color: $dark-primary;

        box-shadow: inset 0 0 0 0 $dark-primary;
        transition: ease-out 0.3s;

        &:hover {
            // background-color: darken($color: $light-blue, $amount: 10);
            color: white;
            box-shadow: inset 150px 0 0 0 $dark-primary;

        }
    }

    .workButt {
        border: 1px solid $light-blue;
        color: white;
        width: 150px;

        box-shadow: inset 0 0 0 0 darken($color: $light-blue, $amount: 50);
        transition: ease-out 0.3s;


        &:hover {
            // color: $light-blue;
            color: white;
            box-shadow: inset 150px 0 0 0 darken($color: $light-blue, $amount: 50);
        }
    }
}

// icons / socials links
.social-container {
    width: 400px;
    text-align: left;

    .social-icons {
        padding: 0;
        list-style: none;
        margin: 0;

        li {
            display: inline-block;
            margin: 0.15em;
            position: relative;
            font-size: 1.5em;

        }

        a {
            color: white;

            &:hover {
                color: $light-blue;
            }
        }
    }
}

// work / portfolio section
.workCon {
    padding: 1rem;
    margin: 3rem;


    .workText {
        background-color: #00111b;
        background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
        font-family: $font-stack;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 15px;
    }


    .projects {
        position: relative;
        padding-bottom: 1rem;

        .img-fluid {
            opacity: 50%;

            &:hover {
                opacity: 90%;
            }
        }

        .projectName {

            background-color: $secondary-color;
            height: 25px;
            width: fit-content;
            text-align: center;
            padding: auto;

            font-weight: 700;
            font-size: larger;
            line-height: 1rem;
            color: white;
            text-align: center;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);

        }

        .projectDescription {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            line-height: 1rem;

        }

        .viewBtn {
            background-color: $light-blue;
            color: $dark-primary;
            margin: 1rem;

            &:hover {
                background-color: darken($color: $light-blue, $amount: 10);
                color: white;
            }
        }

        .sourceBtn {
            position: relative;
            width: 100px;
            margin: 1rem;
            color: white;
            border: 1px solid $light-blue;


            &:hover {
                color: $light-blue;
            }
        }


    }
}

// education, contact form, about me sections
.lastCon {
    margin: 3rem;
    background-color: $dark-primary;
    padding-top: 2rem;
    padding-bottom: 2rem;


}

.education {
    background-color: darken($color: $primary-color, $amount: 2);
    width: 700px;
    margin: auto;
    padding: 1rem;

    h5 {
        text-align: center;
        font-weight: 700;

    }

    p {
        padding: 1rem;
    }
}

.aboutCon {
    padding: 1rem;

    h4 {
        text-align: center;

    }

    width: 700px;
    margin: 2rem auto;
    border: 1px solid white;
}

.contact-form {
    width: 500px;
    margin: auto;

    .form-control {
        margin-bottom: 1rem;
        background-color: $secondary-color;
        border-radius: 5px;
        color: white;

    }

    .sendDiv {
        display: flex;
        justify-content: center;
        margin: 1rem auto 3rem auto;

        .sendBtn {
            width: 100px;
            background-color: $light-blue;
            font-size: large;
            border-radius: 5px;
            color: $dark-primary;

            &:hover {
                background-color: darken($color: $light-blue, $amount: 10);
                color: white;

            }
        }
    }



}

// footer

.footer {
    background-color: $dark-primary;
    flex-shrink: 0;


    margin-top: 6rem;
    padding: 1rem;
    color: grey;
    text-align: center;
    font-size: smaller;


}

// * styles for projects html files, both quiz and acme

// uses css grid
.quizContainer {
    margin: 4rem auto;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 2fr;

    .project-text {
        background-color: $dark-primary;
        margin-top: 2rem;
        padding: 3rem;
        font-size: large;


        h4 {
            text-decoration: underline $light-blue;
        }
    }

    .imgCon {
        margin-top: 2rem;
    }

    // mixings used here
    @include mobile {
        width: 320px;
        grid-template-columns: 1fr;
        grid-gap: 1rem;

        .project-text {
            margin: 2rem auto 0 auto;
            // background-color: pink;
            width: 320px;

        }

        .imgCon {
            width: 300px;
            margin: auto;

        }
    }

    @include screenCollapse {
        width: 500px;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}

// uses flexbox here
.quizContainer2 {
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    width: 1000px;
    justify-content: space-between;
    align-items: center;

    .project-text2 {
        background-color: $dark-primary;
        margin: 2rem;
        height: fit-content;
        flex-direction: column;

        p {
            width: 400px;
            align-items: center;
            font-size: large;
            padding: 2rem;

        }
    }

    .imgCon2 {
        padding: 1rem;
        width: 500px;
        height: fit-content;
    }

    .imgCon3 {
        padding-top: 1rem;
    }

    // mixings for flesbox part
    @include mobile {
        display: flex;
        flex-direction: column;
        width: 320px;

        .imgCon2 {
            width: 320px;
        }

        .project-text2 {
            width: 320px;
            margin: 0;


            p {
                width: 320px;
            }
        }
    }

    @include screenCollapse {
        display: flex;
        flex-direction: column;
        width: 500px;
    }

}

hr {
    border: 2px solid $light-blue;
}

// * media queries
// untill it hits, 
@media screen and (max-width:400px) {
    .introCon .container {
        margin-top: 3rem auto;
        padding: 3rem;
        height: auto;
        width: 300px;
        // border: 1px solid red;

    }

    .heading {
        font-size: small;
        width: 300px;

        h1 {
            // background-color: yellow;
            width: 300px;
        }
    }

    .workCon {
        width: 300px;
        margin: auto 3rem;
        // border: 1px solid red;
    }

    .lastCon {
        width: 300px;

        .education {
            width: 300px;
        }
    }

    .aboutCon {
        width: 500px;
        margin: 3rem auto;
    }


    .contact-form {
        width: 60px;
        margin: auto;
        flex-direction: column;

        .row {

            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .footer {
        width: 100%;
    }
}

// untill navbar expands
@media all and (max-width:767px) {
    .navbar-dark .navbar-brand {
        margin-left: 1rem;
        border-bottom: solid 1px $light-blue;
    }

    .container {
        margin: 5rem 3rem;
        padding: none;
        height: auto;
        width: 400px;
    }

    .heading {

        font-size: 2em;
        width: 400px;
    }

    .education {
        width: 300px;
        // border: 1px solid red;
    }

    .aboutCon {
        width: 300px;
        margin: 3rem auto;
    }

    .contact-form {
        width: 300px;
        margin: auto;
        flex-direction: column;

        .row {

            width: 300px;
            display: flex;
            flex-direction: column;
        }
    }

}

// after navabr expands
@media all and (min-width:767px) {
    .container {
        margin: 5rem 3rem;
        padding: none;
        height: auto;
    }

    .heading {
        font-size: smaller;

        h1 {
            font-weight: 400;
        }
    }

    .education {
        width: 100%;
    }

}

@media all and (min-width:1020px) {

    
div.introCon{
    // font-size: 1.5rem;
    margin: 7rem auto;
    // width: 2000px;
}
    .heading {
        margin-top: 5rem;
        width: 100%;

        
        h1{
            font-size: 2rem;
            .undertext{
                font-size: 3rem;
            }
        }

    }

    .education{
        width: 900px;
    }
}